@import url('https://fonts.googleapis.com/css2?family=Unna&display=swap');
*{
    font-family:'Unna', serif;
}
.h3{
    color: #4071BB;
}
h2{
    color: #FFA41D;
}
.aprops {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1.2rem;
    line-height: 2;
  }
  
  .centred {
    text-align: center;
    padding: 2rem 0;
    margin: 0 auto;
    width: 90%;
  }
  
  .paragraphe {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin: 0 auto;
    width: 90%;
    flex-wrap: wrap;
    padding: 0 0 1rem 0;
  }
  
  img {
    width: 300px;
    height: 300px;
    flex: 1;
    padding: 0 1rem;
  }
  
  .paragraphe-text {
    flex: 2;
  }
  
  .left {
    text-align: left;
    width: 90%;
    margin: 0 auto;
    padding: 2rem 0;
  }